{% extends "common/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
  <h2>Create Event</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="mb-3">
        {{ form.title.label_tag }} {{ form.title }}
    </div>
    <div class="mb-3">
        {{ form.description.label_tag }} {{ form.description }}
    </div>
    <div class="mb-3">
        {{ form.date.label_tag }} {{ form.date }}
    </div>
    <div class="mb-3">
        {{ form.location.label_tag }} {{ form.location }}
    </div>
    <div class="mb-3">
        {{ form.is_private.label_tag }} {{ form.is_private }}
    </div>
    <div class="mb-3">
        {{ form.invited_users.label_tag }} {{ form.invited_users }}
        <small class="form-text text-muted">Hold Ctrl (Windows) or Command (Mac) to select multiple users.</small>
    </div>
    <button type="submit" class="btn btn-primary">Create Event</button>
</form>
{% endblock %}